<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="login" method="post">
      <label>user</label><input name="user" id="user-name"/><input type="submit" value="Login">
    </form>  
  </body>
</html>
